<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>GitLab Package File Manage</title>
    {{ block "partial-script" . }}{{ end }}
    <script>
      $(function () {
        $("#projectTable").bootstrapTable({
          url: "/search",
          method: "GET",
          contentType: "application/json",
          dataType: "json",
          responseHandler: (res) => {
            return res.data
          },
          columns: [
            {
              field: "checked",
              checkbox: true,
            },
            {
              title: "Project ID",
              field: "ProjectId",
              visible: false,
            },
            {
              title: "Package ID",
              field: "PackageId",
              visible: false,
            },
            {
              title: "Project Name",
              field: "ProjectName",
              formatter: function(value, row, index, field) {
                return '<a href="'+ row.ProjectLink + '" >'  + value +'</a>'
              }
            },
            {
              title: "Packge Name",
              field: "PackageName",
            },
            {
              title: "Package File Count",
              field: "TotalPackageFiles",
              sortable: true,
            },
          ],
          showRefresh: false,
          sortOrder: "desc",
        });

        $("#search").on("click", function (e) {
          $("#projectTable").bootstrapTable("refresh", { url: "/search" });
        });
      });
    </script>
  </head>
  <body>
    <!-- 검색 영역 -->
    <div class="container">
      <form action="/search" method="post" class="mb-4">
        <div class="pb-2 mt-4 mb-2 border-bottom">
          <h2>GitLab Package File Manager</h2>
        </div>

        <!-- <div class="row">
                <div class="mb-3 col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="token" class="form-label fw-bold">Token 입력</label>
                    <input id="token" name="token" type="password" class="form-control">
                </div>
                <div class="mb-3 col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <label for="baseUrl" class="form-label fw-bold">Base URL 입력</label>
                    <input id="baseUrl" name="baseUrl" type="text" class="form-control">
                </div>

            </div> -->
      </form>
    </div>

    <!-- 테이블 영역 -->
    <div class="container-fluid">
      <div id="toolbar" class="w-100">
        <button id="search" type="button" class="btn btn-success">
          Search
        </button>
        <button id="remove-selected" type="button" class="btn btn-secondary">
          Remove Selected
        </button>
        <button id="remove-all" type="button" class="btn btn-secondary">
          Remove All
        </button>
      </div>
      <table id="projectTable" style="table-layout: fixed"></table>
    </div>
  </body>
</html>
