<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>GitLab Package File Manager</title>
    {{ block "partial-script" . }}{{ end }}
    <script>
      $(function () {
        var modal = new bootstrap.Modal($('#modal'), {
        })
        $('#modal').on
        $("#projectTable").bootstrapTable({
          url: "/projects",
          method: "GET",
          contentType: "application/json",
          dataType: "json",
          // responseHandler: (res) => {
          //   return res.data;
          // },
          queryParams: function (params) {
            $.each($("#searchOption :input[name]"), (index, value) => {
              params[$(value).attr("name")] = $(value).val();
            });
            return params;
          },
          columns: [
            {
              field: "checked",
              checkbox: true,
            },
            {
              title: "Project ID",
              field: "ProjectId",
              visible: false,
            },
            {
              title: "Project Name",
              field: "ProjectName",
              formatter: function (value, row, index, field) {
                return '<a href="' + row.ProjectLink + '" >' + value + "</a>";
              },
              sortable: true,
            },
            {
              title: "Package Registry Size (MB)",
              field: "PackageRegistrySize",
              sortable: true,
            },
          ],
          showRefresh: false,
          sortOrder: "asc",
          // sidePagination: "server",
          toolbar: "#toolbar",
          pageList: [10, 15, 25, 50],
          pagination: true,
        });

        $("#search").on("click", function (e) {
          $("#projectTable").bootstrapTable("refresh", { url: "/projects" });
        });

        $("#clean-selected").on("click", function (e) {
          var selected = $("#projectTable").bootstrapTable("getSelections");
          if (selected.length > 0) {
            // Confirm
            Swal.fire({
              title: "Are you sure?",
              text: "You won't be able to revert this!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, clean it!",
            }).then((result) => {
              if (result.isConfirmed) {
                // 로딩 표시 시작
                Swal.fire({
                  title: "Deleting...",
                  html: "Deleting packages from selected projects",
                  allowOutsideClick: false,
                  allowEscapeKey: false,
                  allowEnterKey: false,
                  showConfirmButton: false,
                  didOpen: () => {
                    Swal.showLoading();
                  },
                });

                selected = selected.map(function (element) {
                  return {
                    ProjectId: element.ProjectId,
                    PackageId: element.PackageId,
                  };
                });

                console.log(selected);
                $.ajax({
                  url: "/clean",
                  method: "POST",
                  data: JSON.stringify({ data: selected }),
                  headers: {
                    "X-XSRF-TOKEN": "{{ .CsrfToken }}",
                  },
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                })
                  .done(function (data, textStatus, jqXHR) {
                    console.log(data);
                    console.log(textStatus);
                    console.log(jqXHR);
                    Swal.fire({
                      text: "Delete operation successful.",
                      icon: "success",
                    });
                    $("#projectTable").bootstrapTable("refresh");
                  })
                  .fail(function (jqXHR, textStatus, errorThrown) {
                    Swal.fire({
                      text: "An error occurred.",
                      text: errorThrown,
                      icon: "error",
                      confirmButtonText: "OK",
                    });
                  });
              }
            });
          } else {
            Swal.fire({
              title: "Error",
              html: "No row is selected.",
              icon: "error",
              confirmButtonText: "OK",
            });
          }
        });
      });
    </script>
  </head>
  <body>
    {{ block "partial-header" . }}{{ end }}
    <main>
      <!-- modal sector -->
      <div
        class="modal fade"
        id="modal"
        daata-bs-backdrop="static"
        tabindex="-1"
        aria-labelledby="라벨"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <form
              id="양식"
              action="{{springMacroRequestContext.contextPath}}/{{encode '자료'}}/{{encode cName}}/{{encode tName}}"
              method="POST"
              enctype="multipart/form-data"
            >
              <input
                type="hidden"
                name="CsrfToken"
                value="{{.CsrfToken}}"
              />
              <input type="hidden" name="projectId" id="projectId" />
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="라벨">
                  <i class="fa-fw fa-solid fa-pen-to-square"></i> Project Package Info
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row"></div>
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <span>
                  <button
                    id="다음"
                    type="button"
                    class="btn btn-outline-secondary"
                    title="다음"
                  >
                    <i class="fa-fw fa-solid fa-angle-up"></i>다음
                  </button>
                  <button
                    id="이전"
                    type="button"
                    class="btn btn-outline-secondary"
                    title="이전"
                  >
                    이전<i class="fa-fw fa-solid fa-angle-down"></i>
                  </button>
                </span>
             
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- search sector -->
      <div class="container">
        <form id="searchOption" action="/search" method="get" class="mb-4">
          <div class="pb-2 mt-4 mb-2 border-bottom">
            <h2>GitLab Package File Manager</h2>
          </div>

          <div class="row">
            <div class="mb-3 col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <label for="projectName" class="form-label fw-bold"
                >Project Name</label
              >
              <input
                id="projectName"
                name="projectName"
                type="text"
                class="form-control"
              />
            </div>
            <div class="mb-3 col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <label for="packageName" class="form-label fw-bold"
                >Package Registry Size Range (MB)</label
              >
              <div class="input-group">
                <input
                  id="fromSize"
                  name="fromSize"
                  type="text"
                  class="form-control"
                  placeholder="from"
                />
                <input
                  id="toSize"
                  name="toSize"
                  type="text"
                  class="form-control"
                  placeholder="to"
                />
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- 테이블 영역 -->
      <div class="container-fluid">
        <div id="toolbar" class="w-100">
          <button id="search" type="button" class="btn btn-success">
            Search
          </button>
          <button id="clean-selected" type="button" class="btn btn-danger">
            Clean Selected
          </button>
        </div>
        <table id="projectTable" style="table-layout: fixed"></table>
      </div>
    </main>
  </body>
</html>
