<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>GitLab Package File Manager</title>
    {{ block "partial-script" . }}{{ end }}
    <script>
      $(function () {
        $("#projectTable").bootstrapTable({
          url: "/projects",
          method: "GET",
          contentType: "application/json",
          dataType: "json",
          responseHandler: (res) => {
            return res.data;
          },
          queryParams: function (params) {
            $.each($("#searchOption :input[name]"), (index, value) => {
              params[$(value).attr("name")] = $(value).val();
            });
            return params;
          },
          columns: [
            {
              field: "checked",
              checkbox: true,
            },
            {
              title: "Project ID",
              field: "ProjectId",
              visible: false,
            },
            {
              title: "Project Name",
              field: "ProjectName",
              formatter: function (value, row, index, field) {
                return '<a href="' + row.ProjectLink + '" >' + value + "</a>";
              },
              sortable: true,
            },
            {
              title: "Package Registry Size (MB)",
              field: "PackageRegistrySize",
              sortable: true,
            },
          ],
          showRefresh: false,
          sortOrder: "desc",
          pagination: true,
          paginationLoadMore: true,
          toolbar: "#toolbar"
        });

        $("#search").on("click", function (e) {
          $("#projectTable").bootstrapTable("refresh", { url: "/projects" });
        });

        $("#clean-selected").on("click", function (e) {
          var selected = $("#projectTable").bootstrapTable("getSelections");
          if (selected.length > 0) {
            selected = selected.map(function (element) {
              return {
                ProjectId: element.ProjectId,
                PackageId: null,
              };
            });

            console.log(selected);
            $.ajax({
              url: "/clean",
              method: "POST",
              data: JSON.stringify({ data: selected }),
              headers: {
                'X-XSRF-TOKEN': '{{ .CsrfToken }}',
              },
              contentType: "application/json; charset=utf-8",
              dataType: "json",
            })
              .done(function (data, textStatus, jqXHR) {
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);
                Swal.fire({
                  text: "삭제가 성공했습니다.",
                  icon: "success",
                });
                $("#projectTable").bootstrapTable("refresh");
              })
              .fail(function (jqXHR, textStatus, errorThrown) {
                Swal.fire({
                  text: "오류가 발생했습니다.",
                  text: errorThrown,
                  icon: "error",
                  confirmButtonText: "확인",
                });
              });
          }
        });
      });
    </script>
  </head>
  <body>
    {{ block "partial-header" . }}{{ end }}
    <!-- 검색 영역 -->
    <main>
      <div class="container">
        <form id="searchOption" action="/search" method="get" class="mb-4">
          <div class="pb-2 mt-4 mb-2 border-bottom">
            <h2>GitLab Package File Manager</h2>
          </div>

          <div class="row">
            <div class="mb-3 col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <label for="projectName" class="form-label fw-bold"
                >Project Name</label
              >
              <input
                id="projectName"
                name="projectName"
                type="text"
                class="form-control"
              />
            </div>
            <div class="mb-3 col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <label for="packageName" class="form-label fw-bold"
                >Package Registry Size Range (MB)</label
              >
              <div class="input-group">

                <input
                id="fromSize"
                name="fromSize"
                type="text"
                class="form-control"
                placeholder="from"
              />
              <input
              id="toSize"
              name="toSize"
              type="text"
              class="form-control"
              placeholder="to"
              />
            </div>
            </div>
          </div>
        </form>
      </div>

      <!-- 테이블 영역 -->
      <div class="container-fluid">
        <div id="toolbar" class="w-100">
          <button id="search" type="button" class="btn btn-success">
            Search
          </button>
          <button id="clean-selected" type="button" class="btn btn-danger">
            Clean Selected
          </button>
        </div>
        <table id="projectTable" style="table-layout: fixed">

        </table>
      </div>
    </main>
  </body>
</html>
